@model Armario42.Models.Anuncio

@{
    ViewData["Title"] = "Editar Anúncio";
}

<h1>Editar Anúncio</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="AnuncioId" />

    <div class="form-group">
        <label asp-for="Titulo"></label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descricao"></label>
        <textarea asp-for="Descricao" class="form-control"></textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Foto"></label>
        <input asp-for="Foto" class="form-control" />
        <span asp-validation-for="Foto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Preco"></label>
        <input asp-for="Preco" class="form-control" />
        <span asp-validation-for="Preco" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Tags"></label>
        <input asp-for="Tags" class="form-control" />
        <span asp-validation-for="Tags" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StatusAnuncio"></label>
        <select asp-for="StatusAnuncio" class="form-control" asp-items="Html.GetEnumSelectList<Armario42.Models.StatusAnuncio>()"></select>
        <span asp-validation-for="StatusAnuncio" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LojaId"></label>
        <input asp-for="LojaId" class="form-control" />
        <span asp-validation-for="LojaId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>

<div>
    <a asp-action="Index">Voltar</a>
</div>
